.copyright:hover .copyright__img path {
  fill: $green;
}

.copyright__text {
  font-size: 16px;
  line-height: 16px;
  color: #444444;
}

.copyright__img path {
  fill: $brownish-grey;
}


.copyright:hover .copyright__img path,
.copyright:focus .copyright__img path  {
  fill: $green;
}


.copyright:active {
  opacity: 0.3;
}
