.description {
  position: relative;

  width: $mobile-version;
  margin: 0 auto;

  background-image: url("/img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100% 305px;

}

@media (min-width: $tablet-version) {
  .description {
    width: $tablet-version;

    background-image: none;
  }
}

@media (min-width: $desktop-version) {
  .description {
    width: 1220px;
  }
}

.description__heading-cite {
  margin: 0;
  padding-top: 29px;

  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  color: $white;

}

@media (min-width: $tablet-version) {
  .description__heading-cite {
    width: 414px;

    padding-top: 61px;
    padding-left: 120px;

    font-size: 60px;
    line-height: 60px;
    text-align: left;

    color: $black;
  }
}


.description__paragraph {
  margin: 0;
  padding-top: 19px;

  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: $white;

}

@media (min-width: $tablet-version) {
  .description__paragraph {
    padding-top: 33px;
    padding-bottom: 20px;
    padding-left: 120px;

    font-size: 20px;
    line-height: 20px;
    text-align: left;

    color: $black;
  }
}

.description__image {
  display: block;
  margin: 0 auto;
}

@media (min-width: $tablet-version) {
  .description__image {
    width: 708px;
    height: 609px;
  }
}

@media (min-width: $desktop-version) {
  .description__image {
    width: 552px;
    height: 449px;

    margin-left: 560px;
    margin-top: -250px;
  }
}

.description__button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  margin-bottom: 22px;

}

@media (min-width: $tablet-version) {
  .description__button {
    position: absolute;
    top: 286px;
    left: 120px;
    z-index: 1;

    margin: 0;
  }
}



