.description {
  position: relative;

  width: $mobile-version;
  margin: 0 auto;

  background-image: url("/img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 320px auto;

  @media  (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("/img/index-background-mobile@2x.jpg");
  }


}

@media (min-width: $tablet-version) {
  .description {
    width: $tablet-version;

    background-image: none;
  }
}

@media (min-width: $desktop-version) {
  .description {
    width: 1220px;

  }
}




.description__heading-cite {
  margin: 0;
  padding-top: 29px;
  padding-bottom: 19px;

  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  color: $white;

}

@media (min-width: $tablet-version) {
  .description__heading-cite {
    width: 414px;

    padding-top: 68px;
    padding-left: 120px;
    padding-bottom: 33px;

    font-size: 60px;
    line-height: 60px;
    text-align: left;

    color: $black;
  }
}


.description__paragraph {
  margin: 0;
  padding-bottom: 31px;

  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: $white;

}

@media (min-width: $tablet-version) {
  .description__paragraph {
    padding-bottom: 20px;
    padding-left: 120px;

    font-size: 20px;
    line-height: 20px;
    text-align: left;

    color: $black;
  }
}

.description__image-mobile {
  display: block;
  margin: 0 auto;
}

.description__image-tablet {
  display: none;
}

.description__image-desktop {
  display: none;
}

@media (min-width: $tablet-version) {
  .description__image-mobile {
    display: none;
  }

  .description__image-tablet {
    display: block;
    width: 708px;
    height: 609px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-version) {
  .description__image-tablet {
    display: none;
  }

  .description__image-desktop {
    display: block;
    width: 552px;
    height: 499px;

    margin-left: 450px;
    margin-top: -226px;
    margin-bottom: 135px;
  }
}

.description__button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  margin-bottom: 22px;

}

@media (min-width: $tablet-version) {
  .description__button {
    position: absolute;
    top: 286px;
    left: 120px;
    z-index: 1;

    margin: 0;
  }
}



