.example__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  background-color: #f2f2f2;
}

@media (min-width: $tablet-version) {
  .example__wrapper {
    width: 708px;
    padding: 0;

    background-color: transparent;
  }
}
@media (min-width: $desktop-version) {
  .example__wrapper {
    display: flex;
    width: 1220px;
  }
}


@media (min-width: $desktop-version) {
  .example__container-text {
    width: 430px;
  }
}

.example__title {
  margin: 0;
  padding-top: 22px;
  padding-bottom: 22px;

  font-size: 36px;
  line-height: 60px;
  font-weight: 400;

}

.example__text {
  width: 266px;
  margin: 0;
  margin-bottom: 27px;

  line-height: 18px;
  font-family: "Arial";
  color: #444444;

}

@media (min-width: $tablet-version) {
  .example__text {
    width: 676px;
  }
}


@media (min-width: $desktop-version) {
  .example__text {
    width: auto;
  }
}


.example__container-result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: $tablet-version) {
  .example__container-result {
    justify-content: left;
  }
}

.example__result-wrapper {
  position: relative;

  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: $tablet-version) {
  .example__result-wrapper {
    justify-content: left;
}
}


.example__text-expenses {
  flex-grow: 1;
  margin-top: 25px;
  margin-bottom: 44px;

  font-size: 14px;
  line-height: 20px;

  text-transform: uppercase;
  text-align: center;
}

@media (min-width: $tablet-version) {
  .example__text-expenses {
    margin: 0;
    margin-left: auto;
    flex-grow: 0;
    width: 174px;

    font-size: 20px;
  }
}



@media (min-width: $tablet-version) {
  .example__result:nth-of-type(1) {
    margin-right: 42px;
  }
}


@media (min-width: $tablet-version) {
  .example__text-expenses {
    text-align: right;
  }
}


@media (min-width: $desktop-version) {
  .example__text-expenses {
    width: auto;
    margin: 0;

    text-align: left;
  }
}



.example__image {
  position: relative;
}

@media (min-width: $tablet-version) {
  .example__image {
    left: 46px;

    width: 338px;
    height: 499px;


  }
}

.example__scale {

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: $tablet-version) {
  .example__scale {
    width: 568px;

    margin: 0 auto;

    justify-content: space-between;
  }
}

.example__after {

  display: flex;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 38px;

  font-style: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.example__after::after {
  content: "";
  display: block;
  width: 84px;
  height: 14px;
  margin-left: 19px;
  margin-right: 18px;
  border-radius: 6px;
  border: 1px solid #cdcdcd;
}

@media (min-width: $tablet-version) {
  .example__after::after {
    width: 428px;
    height: 6px;

    margin-left: 24px;
  }
}


.example__before {
  display: flex;
  margin-top: 35px;
  margin-bottom: 38px;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.example__after::before {
  content: "";
  position: absolute;
  top: 42px;
  left: 103px;
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: #68b738;
}


@media (min-width: $tablet-version) {
  .example__after::before {
    top: 35px;
    left: 268px;
    width: 8px;
    height: 8px;

    border: 5px solid $white;
    border-radius: 50%;
  }
}
