.example__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  background-color: #f2f2f2;
}



.example__title {
  margin: 0;
  padding-top: 22px;
  padding-bottom: 22px;

  font-size: 36px;
  line-height: 60px;
  font-weight: 400;

}

.example__text {
  width: 266px;
  margin: 0;
  margin-bottom: 27px;

  line-height: 18px;
  font-family: "Arial";
  color: #444444;

}

.example__result-wrapper {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
}


.example__text-expenses {
  margin-top: 25px;
  margin-bottom: 44px;

  font-size: 14px;
  line-height: 20px;

  text-transform: uppercase;
  text-align: center;
}

.example__image {
  position: relative;
  left: -15px;
}


.example__scale {

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example__after {

  display: flex;
  margin-top: 35px;
  margin-bottom: 38px;

  font-style: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.example__after::after {
  content: "";
  display: block;
  width: 84px;
  height: 14px;
  margin-left: 19px;
  margin-right: 18px;
  border-radius: 6px;
  border: solid 1px #cdcdcd;
}


.example__before {


  display: flex;
  margin-top: 35px;
  margin-bottom: 38px;

  font-style: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.example__after::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 103px;
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: #68b738;


}
