@media (min-width: $tablet-version) {
  .example {
    width: 768px;
    margin: 0 auto;
    background: linear-gradient(to top, #eaeaea 462px, $white 162px);
  }
}

@media (min-width: $desktop-version) {
  .example {
    width: 100%;
  }
}

.example__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  background-color: #f2f2f2;
}

@media (min-width: $tablet-version) {
  .example__wrapper {
    width: 708px;
    padding: 0;

    background-color: transparent;
  }
}
@media (min-width: $desktop-version) {
  .example__wrapper {
    display: flex;
    width: 1220px;
  }
}


@media (min-width: $desktop-version) {
  .example__container-text {
    width: 430px;
  }
}

.example__container-scale {
  position: relative;
}

.example__container-scale::before {
  content: "";
  display: block;
  width: 311px;
  height: 232px;
  margin-left: -15px;


  background-image: url("/img/before-mobile@1x.png");

}

.example__container-scale::after {
  content: "";
  position: absolute;
  top: 0;
  left: -15px;
  display: none;
  background-image: url("/img/after-mobile@1x.png");
  width: 311px;
  height: 232px;

}

@media (min-width: $tablet-version) {
  .example__container-scale {
    background: linear-gradient(to top, #eaeaea 462px, $white 162px);
  }
}


@media (min-width: $tablet-version) {
  .example__container-scale::before {

    width: 708px;
    height: 499px;
    margin-left: 0;

    background-image: url("/img/before-tablet@1x.png");
  }
}

@media (min-width: $tablet-version) {
  .example__container-scale::after {
    left: 0;

    width: 708px;
    height: 517px;

    background-image: url("/img/after-tablet@1x.png");
  }
}

@media (min-width: $desktop-version) {
  .example__container-scale {
    margin-left: 140px;
  }
}


@media (min-width: $desktop-version) {
  .example__container-scale::before {

    width: 635px;
    height: 499px;
    margin-left: 0;

    background-image: url("/img/before-desktop@1x.png");
  }
}

@media (min-width: $desktop-version) {
  .example__container-scale::after {

    width: 635px;
    height: 499px;
    margin-left: 0;

    background-image: url("/img/after-desktop@1x.png");
  }
}





.example__title {
  margin: 0;
  padding-top: 22px;
  padding-bottom: 22px;

  font-size: 36px;
  line-height: 60px;
  font-weight: 400;

}

@media (min-width: $tablet-version) {
  .example__title {
    margin: 0;
    margin-top: 51px;
    margin-bottom: 60px;
    padding: 0;

    font-size: 60px;
  }
}

@media (min-width: $desktop-version) {
  .example__title {
    margin-top: 48px;
    margin-bottom: 142px;
  }
}

.example__text {
  width: 266px;
  margin: 0;
  margin-bottom: 27px;

  line-height: 18px;
  font-family: "Arial";
  color: #444444;

}

@media (min-width: $tablet-version) {
  .example__text {
    width: 676px;
    margin-bottom: 56px;

    font-size: 16px;
    line-height: 24px;
  }
}


@media (min-width: $desktop-version) {
  .example__text {
    width: 435px;
    margin-bottom: 65px;
  }
}

@media (min-width: $desktop-version) {
  .example__text br {
    display: none;
  }
}



.example__container-result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: $tablet-version) {
  .example__container-result {
    justify-content: left;
    align-items: center;
    margin-bottom: 86px;
  }
}

.example__result-wrapper {
  position: relative;

  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: $tablet-version) {
  .example__result-wrapper {
    justify-content: left;
}
}


.example__text-expenses {
  flex-grow: 1;
  margin-top: 35px;
  margin-bottom: 41px;

  font-size: 14px;
  line-height: 20px;

  text-transform: uppercase;
  text-align: center;
}

@media (min-width: $tablet-version) {
  .example__text-expenses {
    margin: 0;
    margin-left: auto;
    flex-grow: 0;
    width: 174px;

    font-size: 20px;
  }
}

@media (min-width: $tablet-version) {
  .example__text-expenses span {
    display: block;
    margin-top: 11px;
  }
}

@media (min-width: $desktop-version) {
  .example__text-expenses span {
    margin: 0;
    margin-left: 64px;
  }
}



@media (min-width: $tablet-version) {
  .example__result:nth-of-type(1) {
    margin-right: 42px;
  }
}


@media (min-width: $tablet-version) {
  .example__text-expenses {
    text-align: right;
  }
}


@media (min-width: $desktop-version) {
  .example__text-expenses {
    display: flex;
    width: auto;
    margin: 0;
    margin-top: 62px;

    text-align: left;
  }
}



.example__image {
  position: relative;
}

@media (min-width: $tablet-version) {
  .example__image {
    left: 46px;

    width: 338px;
    height: 499px;


  }
}

.example__scale {

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: $tablet-version) {
  .example__scale {
    width: 568px;

    margin: 0 auto;

    justify-content: space-between;
  }
}

@media (min-width: $desktop-version) {
  .example__scale {
    margin-top: 48px;
  }
}

.example__after {

  display: flex;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 38px;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: $desktop-version) {
  .example__after {
    margin: 0;

    font-size: 20px;
  }
}

.example__after::after {
  content: "";
  display: block;
  width: 84px;
  height: 14px;
  margin-left: 19px;
  margin-right: 18px;
  border-radius: 6px;
  border: 1px solid #cdcdcd;
}

@media (min-width: $tablet-version) {
  .example__after::after {
    width: 428px;
    height: 6px;

    margin-left: 24px;
  }
}


.example__before {
  display: flex;
  margin-top: 35px;
  margin-bottom: 38px;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: $desktop-version) {
  .example__before {
    margin: 0;

    font-size: 20px;
  }
}

.example__after::before {
  content: "";
  position: absolute;
  top: 42px;
  left: 103px;
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: #68b738;
}


@media (min-width: $tablet-version) {
  .example__after::before {
    top: 35px;
    left: 268px;
    width: 8px;
    height: 8px;

    border: 5px solid $white;
    border-radius: 50%;
  }
}

@media (min-width: $desktop-version) {
  .example__after::before {
    top: 0;
  }
}
