.form__label {
  position: relative;

  display: flex;
  align-items: center;
  margin-bottom: 14px;
  padding-left: 20px;
  padding-right: 20px;
}

.form__label:nth-of-type(3) {
  margin-bottom: 23px;
}

.form__label p {
  width: auto;
  margin: 0;
  margin-right: 16px;

  font-size: 16px;
  line-height: 18px;

  color: #222222;
  text-transform: uppercase;
}

.form__label > input {
  width: 100%;
  padding: 15px;

  font-size: 16px;
  line-height: 18px;
  color: #444444;

  text-transform: uppercase;
  border: 1px solid #cdcdcd;
}


.form__radio-btn {
  width: 320px;
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.form__list-item:first-child {
  margin-top: 21px;
}

.form__list-item:last-child {
  margin-bottom: 21px;
}

.form__list-item:not(:last-child) {
  margin-bottom: 13px;
}

.form__list-item {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;
}

.form__list-item input {
  width: 30px;
  height: 30px;
  margin: 0;
}

.form__list-item label {
  margin-left: 16px;
}


.form__comment {
  min-width: 280px;

  margin-left: 20px;
  margin-right: 20px;
  padding: 0;

  border: 1px solid silver;

}


.form__list-checkbox {
  margin: 0;
  padding: 0;
  list-style: none;
}


.form__button {
  border: none;
  margin: 0 auto;
}

.form__text {
  margin-top: 23px;
  margin-bottom: 34px;

  font-size: 14px;
  line-height: 16px;
  font-family: "Arial";
  text-align: center;
  color: #444444;
}

.form__info {
  margin: 0;
  padding: 0;
  border: none;
}

.form__info legend {
  display: none;
}

.form__contacts {
  margin: 0;
  margin-top: 31px;
  padding: 0;
  border: none;
}

.form__contacts legend {
  position: relative;

  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.form__contacts legend::before {
  content: "";
  position: absolute;
  width: 99px;
  height: 3px;
  background-color: #68b738;
  left: 221px;
  top: 14px;
}


.form__comments {
  margin: 0;
  margin-top: 31px;
  padding: 0;
  border: none;
}


.form__comments legend {
  position: relative;

  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.form__comments legend::before {
  content: "";
  position: absolute;
  width: 158px;
  height: 3px;
  background-color: #68b738;
  left: 162px;
  top: 14px;
}

.form__additionally {
  margin: 0;
  margin-top: 31px;
  padding: 0;
  border: none;
}

.form__additionally legend {
  position: relative;

  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}


.form__additionally legend::before {
  content: "";
  position: absolute;
  width: 136px;
  height: 3px;
  background-color: #68b738;
  left: 184px;
  top: 14px;
}

