.list-product {
  list-style: none;
  margin: 0;
  padding-left: 20px;

}

@media (min-width: $tablet-version) {
.list-product {
    width: 708px;
    margin: 0 auto;
    padding: 0;

    border: 1px solid #cdcdcd;
  }
}

@media (min-width: $desktop-version) {
  .list-product {
    width: 895px;
    margin: 0;
    border-left: none;
    border-right: none;
  }
}


.list-product__item {
  width: 280px;

  border-top: 1px solid silver;
}

.list-product__item:last-child {
  border-bottom: 1px solid silver;
}

@media (min-width: $tablet-version) {
  .list-product__item:first-child {
    border-top: none;
  }

  .list-product__item:last-child {
    border-bottom: none;
  }
}

@media (min-width: $tablet-version) {
  .list-product__item {
    width: 628px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: $desktop-version) {
  .list-product__item {
    width: 895px;
    padding: 0;
  }
}


.list-product__table-products {
  width: 100%;
  margin-bottom: 15px;

  font-size: 14px;
  line-height: 14px;
  font-family: "Arial";
  color: $black-two;
  border-collapse: collapse;
}

@media (min-width: $tablet-version) {
  .list-product__table-products {
    width: auto;
    margin: 0;
    white-space: nowrap;
  }
}

@media (min-width: $desktop-version) {
  .list-product__table-products {
    width: 285px;
    margin: 0;
    white-space: nowrap;
  }
}


.list-product__price-rub {
  width: 50%;
  text-align: right;
}

@media (min-width: $tablet-version) {
  .list-product__price-rub {
    width: 94px;
  }
}
/*
.list-product__volume {
  display: inline-block;
  width: 50%;
  float: left;

  font-size: 14px;
  line-height: 14px;
  font-family: "Arial";
  color: #444444;
}

@media (min-width: $tablet-version) {
  .list-product__volume {
    width: 130px;
    margin-left: auto;

  }
}

.list-product__price-rub {
  display: inline-block;
  width: 50%;

  font-size: 14px;
  line-height: 14px;
  font-family: "Arial";
  text-align: right;
  color: #444444;
}

@media (min-width: $tablet-version) {
  .list-product__price-rub {
    width: 42px;


  }
}
*/

.list-product__title {
  margin: 15px 0;

  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}

@media (min-width: $tablet-version) {
  .list-product__title {
    margin-top: 27px;
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-version) {
  .list-product__title {
    width: 325px;
  }
}


.list-product__button {
  margin-bottom: 17px;
}

@media (min-width: $tablet-version) {
  .list-product__button {
    margin-bottom: 28px;
  }
}


@media (min-width: $desktop-version) {
  .list-product__button {
    margin: 0;
  }
}
