.list-product {
  list-style: none;
  margin: 0;
  padding-left: 20px;

}

@media (min-width: $desktop-version) {
  .list-product {
    float: left;
  }
}


.list-product__item {
  width: 280px;

  border-top: 1px solid silver;
}

.list-product__item:last-child {
  border-bottom: 1px solid silver;
}

@media (min-width: $tablet-version) {
  .list-product__item {
    width: 708px;
    display: flex;
    flex-wrap: wrap;
  }
}

.list-product__volume {
  display: inline-block;
  width: 50%;
  float: left;

  font-size: 14px;
  line-height: 14px;
  font-family: "Arial";
  color: #444444;
}

@media (min-width: $tablet-version) {
  .list-product__volume {
    width: 130px;
    margin-left: auto;

  }
}

.list-product__price-rub {
  display: inline-block;
  width: 50%;

  font-size: 14px;
  line-height: 14px;
  font-family: "Arial";
  text-align: right;
  color: #444444;
}

@media (min-width: $tablet-version) {
  .list-product__price-rub {
    width: 42px;


  }
}


.list-product__title {
  margin: 15px 0;

  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}

@media (min-width: $desktop-version) {
  .list-product__title {
    width: 130px;
  }
}


.list-product__button {
  margin-top: 15px;
  margin-bottom: 17px;
}
