.map {
  position: relative;

  width: 320px;
  height: 400px;
  margin: 0 auto;
}

@media (min-width: $tablet-version) {
  .map {
    width: 768px;

  }
}

@media (min-width: $desktop-version) {
  .map {
    width: 100%;
  }
}

@media (min-width: $tablet-version) {
  .map__img-map {
    width: 768px;
    height: 400px;
  }
}

@media (min-width: $desktop-version) {
  .map__img-map {
    width: 100%;
  }
}
.map__point-img {
  position: absolute;
  top:  177px;
  left: 136px;
}

@media (min-width: $tablet-version) {
  .map__point-img {
    width: 113px;
    height: 106px;

    top: 150px;
    left: 333px;
  }
}


@media (min-width: $desktop-version) {
  .map__point-img {
    width: 113px;
    height: 106px;

    top: 150px;
    left: 1009px;
  }
}
