@media (min-width: $tablet-version) {
  .nav-menu {
    margin-left: auto;
  }
}

@media (min-width: $tablet-version) {
  .nav-menu__wrapper {
    width: 438px;

    margin-left: auto;
    margin-right: 31px;
  }
}


@media (min-width: $desktop-version) {
  .nav-menu__wrapper {
    width: 477px;

    margin-left: auto;
    margin-right: 0px;
  }
}
