.page-form__wrapper {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-version) {
  .page-form__wrapper {
    width: $tablet-version;
  }
}

@media (min-width: $desktop-version) {
  .page-form__wrapper {
    width: 1220px;
  }
}

.page-form__title{
  margin-top: 20px;
  margin-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;

  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

@media (min-width: $tablet-version) {
  .page-form__title {
    padding-left: 32px;
    font-size: 60px;
    margin-top: 84px;
    margin-bottom: 53px;
  }
}

@media (min-width: $desktop-version) {
  .page-form__title {
    font-size: 60px;
    padding: 0;
  }
}

.page-form__text {
  margin: 0;
  margin-bottom: 36px;
  padding-left: 20px;
  padding-right: 20px;

  font-size: 14px;
  line-height: 18px;
  color: #111111;
  text-transform: uppercase;
}

@media (min-width: $tablet-version) {
  .page-form__text {
    width: 325px;
    padding-left: 70px;
    margin-bottom: 69px;

    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-version) {
  .page-form__text {
    padding: 0;
  }
}
