.page-header-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 320px;
  margin: 0 auto;
  padding-top: 11px;

}

.site-list__item  a {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;

  text-decoration: none;
  color: #111111;

}

.page-header__logo-link {
  padding-left: 20px;
}

.page-header__button-menu {
  width: 19px;
  height: 19px;
  margin-left: auto;
  margin-right: 20px;
  padding: 0;

  background-color: transparent;
  border: none;

}





