.page-catalog {
  width: $mobile-version;
  margin: 0 auto;

}

@media (min-width: $tablet-version) {
  .page-catalog {
    width: $tablet-version;
  }
}

@media (min-width: $desktop-version) {
  .page-catalog {
    width: 1220px;
  }
}

.page-catalog__title {
  margin: 0;
  padding-top: 19px;
  padding-bottom: 24px;
  padding-left: 20px;

  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}


.page-catalog__present {
  position: relative;
  background-image: url("/img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  width: 280px;
  margin: 0 auto;
  margin-top: 39px;
  margin-bottom: 35px;
}

@media (min-width: $tablet-version) {
  .page-catalog__present {
    width: 708px;

    background-size: cover;
  }
}

@media (min-width: $desktop-version) {
  .page-catalog__present {
    width: 245px;
    height: 289px;
    margin: 0;
    margin-left: auto;
  }
}


.page-catalog__present::before {
  content: "";
  position: absolute;
  background-image: url("/img/icon-gift.svg");
  background-repeat: no-repeat;
  width: 56px;
  height: 61px;
  left: 113px;
  top: 65px;
}

.page-catalog__present p {
  margin: 0;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 185px;
  padding-bottom: 44px;

  font-size: 16px;
  line-height: 20px;
  font-family: "Arial";
  text-align: center;
  color: #ffffff;
}


@media (min-width: $tablet-version) {
  .page-catalog__present p {
    width: 159px;

    padding-top: 75px;
    padding-bottom: 69px;
    padding-left: 424px;
  }
}


@media (min-width: $desktop-version) {
  .page-catalog__present p {
    width: 159px;

    padding-top: 190px;
    padding-bottom: 43px;
    padding-left: 43px;
  }
}
