.page-header {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: $desktop-version) {
  .page-header {
    max-width: 1440px;
  }
}

@media (min-width: $desktop-version) {
  .page-header--bg::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 50%;
    height: 696px;

    background-image: url("/img/index-background-desktop@1x.jpg");
    background-size: cover;
    z-index: -1;

  }
}


.page-header__wrapper {
width: $mobile-version;
margin: 0 auto;
}

@media (min-width: $tablet-version) {
  .page-header__wrapper {
    width: $tablet-version;
    padding-top: 25px;


    display: flex;
    align-items: center;
  }
}

@media (min-width: $desktop-version) {
  .page-header__wrapper {
    width: 1220px;
    padding-top: 53px;
  }
}

.page-header__button-menu {
  display: none;

}

.page-header__logo-link {
  display: block;
  width: 191px;
  height: 39px;
  padding-top: 11px;
  padding-left: 20px;
  padding-bottom: 15px;
}

@media (min-width: $tablet-version) {
  .page-header__logo-link {
    width: 174px;
    height: 59px;

    padding: 0;
    padding-left: 30px;


  }
}
@media (min-width: $desktop-version) {
  .page-header__logo-link {
    width: 203px;
    height: 60px;

    padding: 0;


  }
}


.page-header__logo {
  width: 191px;
  height: 39px;
}


@media (min-width: $tablet-version) {
  .page-header__logo {
    width: 174px;
    height: 59px;
  }
}

@media (min-width: $desktop-version) {
  .page-header__logo {
    width: 203px;
    height: 60px;
  }
}


/*






.page-header__button-menu {
  width: 19px;
  height: 19px;
  margin-left: auto;
  margin-right: 20px;
  padding: 0;

  background-color: transparent;
  border: none;

}*/






