.page-header__wrapper {
width: $mobile-version;

margin: 0 auto;
}

@media (min-width: $tablet-version) {
  .page-header__wrapper {
    width: $tablet-version;

    margin-top: 24px;

    display: flex;
    align-items: center;
  }
}

@media (min-width: $desktop-version) {
  .page-header__wrapper {
    width: 1220px;
  }
}

.page-header__button-menu {
  display: none;

}

.page-header__logo-link {
  display: block;
  height: 39px;
  padding-top: 11px;
  padding-left: 20px;
  padding-bottom: 15px;
}

@media (min-width: $tablet-version) {
  .page-header__logo-link {
    height: 59px;

    padding: 0;
    padding-left: 29px;

  }
}

/*






.page-header__button-menu {
  width: 19px;
  height: 19px;
  margin-left: auto;
  margin-right: 20px;
  padding: 0;

  background-color: transparent;
  border: none;

}*/






