.page-header__wrapper {
min-width: 320px;
max-width: 767px;

margin: 0 auto;
}

@media (min-width: 768px) {
  .page-header__wrapper {
    min-width: 768px;
    max-width: 1199px;

    display: flex;
    justify-content: space-between;
  }
}

.page-header__button-menu {
  display: none;

}

.page-header__logo-link {
  display: block;
  height: 39px;
  padding-top: 11px;
  padding-left: 20px;
  padding-bottom: 15px;
}

@media (min-width: 768px) {
  .page-header__logo-link {
    height: 59px;

    padding: 0;
    padding-top: 24px;
    padding-left: 29px;

  }
}

/*






.page-header__button-menu {
  width: 19px;
  height: 19px;
  margin-left: auto;
  margin-right: 20px;
  padding: 0;

  background-color: transparent;
  border: none;

}*/






