.page-catalog {
  width: 320px;
  margin: 0 auto;

}

.page-catalog__title {
  margin: 0;
  padding-top: 19px;
  padding-bottom: 24px;
  padding-left: 20px;

  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.page-catalog__present {
  position: relative;
  background-image: url("/img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  width: 280px;
  margin: 0 auto;
  margin-top: 39px;
  margin-bottom: 35px;
}


.page-catalog__present::before {
  content: "";
  position: absolute;
  background-image: url("/img/icon-gift.svg");
  background-repeat: no-repeat;
  width: 56px;
  height: 61px;
  left: 113px;
  top: 65px;
}

.page-catalog__present p{
  margin: 0;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 185px;
  padding-bottom: 44px;

  font-size: 16px;
  line-height: 20px;
  font-family: "Arial";
  text-align: center;
  color: #ffffff;
}
