.programs {
  width: 280px;
  margin:  0 auto;

}

@media (min-width: $tablet-version) {
  .programs {
    width: 708px;
  }
}

@media (min-width: $desktop-version) {
  .programs {
    width: 1220px;
  }
}

.programs__list {
  margin: 0;
  padding: 0;

  list-style: none;

}

@media (min-width: $desktop-version) {
  .programs__list {
    display: flex;
  }
}

.programs__item {
  position: relative;

  width: 280px;
  margin: 0 auto;


  background-color: $silver;
}

.programs__item:not(:last-child) {
  margin-bottom: 20px;
}

@media (min-width: $desktop-version) {
  .programs__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-version) {
  .programs__item {
    width: 708px;
  }
}

@media (min-width: $desktop-version) {
  .programs__item {
    width: 570px;

  }
}

.programs__title {
  margin: 0;
  padding-left: 92px;
  padding-top: 36px;

  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  color: $black;

}

@media (min-width: $tablet-version) {
  .programs__title {
    padding-left: 53px;
    padding-top: 80px;

    font-size: 36px;
    line-height: 37px;

  }
}

@media (min-width: $desktop-version) {
  .programs__title {
    padding-left: 216px;
    padding-bottom: 75px;

  }
}

.programs__description {
  margin: 0;
  padding-left: 21px;
  padding-right: 36px;

  line-height: 18px;
  font-family: "Arial";
  color: $black-two;

}

@media (min-width: $tablet-version) {
  .programs__description {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-version) {
  .programs__description {
    padding-left: 52px;

    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: $tablet-version) {
  .programs__description--cat {
    width: 372px;

    padding: 0;
    padding-top: 22px;
    padding-left: 53px;
    padding-bottom: 56px;
  }
}

@media (min-width: $tablet-version) {
  .programs__description--jaguar {
    width: 340px;

    padding: 0;
    padding-top: 27px;
    padding-left: 57px;
    padding-bottom: 56px;
  }
}


.programs__button {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: left;
  width: 280px;
  height: 58px;
  margin: 0;
  margin-left: 21px;

  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $black;

  text-decoration: none;
  border-top: 1px solid silver;
}

@media (min-width: $tablet-version) {
  .programs__button {
    margin-left: 53px;
    padding-bottom: 61px;

    font-size: 20px;
    line-height: 20px;

    border-top: none;
  }
}

.programs__button::after {
  content: "";

  position: absolute;
  left: 95px;

  width: 25px;
  height: 12px;

  background-image: url("/img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;

}

@media (min-width: $tablet-version) {
  .programs__button::after {
    left: 125px;
  }
}

.programs__item::before {
  content: "";

  position: absolute;
  top: 24px;
  left: 22px;
  z-index: 1;

  width: 50px;
  height: 51px;

  background-color: $green;
  border-radius: 50%;

}

@media (min-width: $tablet-version) {
  .programs__item::before {
    top: 92px;
    left: 447px;

    width: 200px;
    height: 200px;
  }
}

@media (min-width: $desktop-version) {
  .programs__item::before {
    top: 47px;
    left: 52px;

    width: 100px;
    height: 100px;
  }
}


.programs__item--cat::after {
  content: "";

  position: absolute;
  top: 22px;
  left: 30px;
  z-index: 2;

  width: 35px;
  height: 59px;

  background-image: url("/img/icon-cat-slim.svg");
  background-repeat: no-repeat;

}

@media (min-width: $tablet-version) {
  .programs__item--cat::after {
    top: 80px;
    left: 475px;

    width: 141px;
    height: 194px;
  }
}

@media (min-width: $desktop-version) {
  .programs__item--cat::after {
    top: 41px;
    left: 65px;

    width: 71px;
    height: 97px;
  }
}

.programs__item--jaguar::after {
  content: "";

  position: absolute;
  top: 35px;
  left: 13px;
  z-index: 2;
  width: 67px;
  height: 28px;

  background-image: url("/img/icon-cat-pro.svg");
  background-repeat: repeat;

}


@media (min-width: $tablet-version) {
  .programs__item--jaguar::after {
    top: 135px;
    left: 412px;

    width: 268px;
    height: 113px;
  }
}

@media (min-width: $desktop-version) {
  .programs__item--jaguar::after {
    top: 69px;
    left: 34px;

    width: 134px;
    height: 57px;
  }
}
