@media (min-width: $desktop-version) {
  .questionary__container-info {
    display: flex;
  }
}
@media (min-width: $desktop-version) {
  .questionary__label-wrapper {
    width: 600px;
  }
}

.questionary__label {
  position: relative;

  display: flex;
  align-items: center;
  margin-bottom: 14px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: $desktop-version) {
  .questionary__label {
    width: 560px;
  }
}

.questionary__label:nth-of-type(3) {
  margin-bottom: 23px;
}

.questionary__label p {
  width: auto;
  margin: 0;
  margin-right: 16px;

  font-size: 16px;
  line-height: 18px;

  color: #222222;
  text-transform: uppercase;
}

.questionary__label > input {
  width: 100%;
  padding: 15px;

  font-size: 16px;
  line-height: 18px;
  color: #444444;

  text-transform: uppercase;
  border: 1px solid #cdcdcd;
}


.questionary__radio-btn {
  width: 320px;
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.questionary__list-item:first-child {
  margin-top: 21px;
}

@media (min-width: $tablet-version) {
  .questionary__list-item:first-child {
    margin: 0;
    margin-right: 125px;
  }
}

.questionary__list-item:last-child {
  margin-bottom: 21px;
}

.questionary__list-item:not(:last-child) {
  margin-bottom: 13px;
}

.questionary__list-item {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;
}

@media (min-width: $tablet-version) {
  .questionary__list-item {
    width: 220px;
    margin: 0;
    margin-right: 125px;
  }
}

.questionary__list-item input {
  width: 30px;
  height: 30px;
  margin: 0;
}

.questionary__list-item label {
  margin-left: 16px;
}


.questionary__comment {
  min-width: 280px;

  margin-left: 20px;
  margin-right: 20px;
  padding: 0;

  border: 1px solid silver;

}

@media (min-width: $tablet-version) {
  .questionary__comment {
    width: 631px;
  }
}

@media (min-width: $desktop-version) {
  .questionary__comment {
    width: 1220px;
  }
}


.questionary__list-checkbox {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: $tablet-version) {
  .questionary__list-checkbox {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-version) {
  .questionary__list-item {
    width: 260px;
    margin: 0;
  }
}




.questionary__button {
  border: none;
  margin: 0 auto;
}

.questionary__container-button{
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-version) {
  .questionary__container-button {
    flex-direction: row;
  }
}


.questionary__text {
  margin-top: 23px;
  margin-bottom: 34px;

  font-size: 14px;
  line-height: 16px;
  font-family: "Arial";
  text-align: center;
  color: #444444;
}



.questionary__info {
  margin: 0;
  padding: 0;
  border: none;
}

.questionary__info legend {
  display: none;
}

.questionary__contacts {
  margin: 0;
  margin-top: 31px;
  padding: 0;
  border: none;
}

@media (min-width: $desktop-version) {
  .quetionary__container-contacts {
    display: flex;
  }
}

.questionary__contacts legend {
  position: relative;

  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.questionary__contacts legend::before {
  content: "";
  position: absolute;
  width: 99px;
  height: 3px;
  background-color: #68b738;
  left: 221px;
  top: 14px;
}


.questionary__comments {
  margin: 0;
  margin-top: 31px;
  padding: 0;
  border: none;
}


.questionary__comments legend {
  position: relative;

  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.questionary__comments legend::before {
  content: "";
  position: absolute;
  width: 158px;
  height: 3px;
  background-color: #68b738;
  left: 162px;
  top: 14px;
}

.questionary__additionally {
  margin: 0;
  margin-top: 31px;
  padding: 0;
  border: none;
}


.questionary__additionally legend {
  position: relative;

  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}


.questionary__additionally legend::before {
  content: "";
  position: absolute;
  width: 136px;
  height: 3px;
  background-color: #68b738;
  left: 184px;
  top: 14px;
}

