.site-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@media (min-width:$tablet-version) {
  .site-list {
    display: flex;
    justify-content: space-between;
  }
}


.site-list__item  a {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;

  text-decoration: none;
  color: $black;

}
.site-list__item a:hover,
.site-list__item a:focus {
  opacity: 0.6;
}

.site-list__item a:active {
  opacity: 0.3;
}




@media (min-width: $tablet-version) {
  .site-list__item  a {
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;

    color: $black-three;
  }
}

@media (min-width: $desktop-version) {
  .site-list__item  a {
    font-size: 20px;

  }
}

@media (min-width: $desktop-version) {
  .site-list__item--text-white  a {
    color: $white;

  }
}

.site-list__item {
  min-width: auto;
  padding-top: 23px;
  padding-bottom: 23px;

  text-align: center;

  border-top: 1px solid silver;

}


.site-list__item:last-child {
  border-bottom: 1px solid silver;

}

@media (min-width: $tablet-version) {
  .site-list__item {
    position: relative;
    padding-top: 19px;
    padding-bottom: 15px;

    border: none;
  }

  .site-list__item:last-child {
    margin: 0;
    border: none;
  }
}

@media (min-width: $tablet-version) {
  .site-list__item--active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: $green;
  }
}

@media (min-width: $desktop-version) {
  .site-list__item--active-white::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: $white;
  }
}
