.social {
  width: 280px;
}
@media (min-width: $tablet-version) {
  .social {
    width: 33.33%;
    padding: 0;
    border: none;
  }
}

@media (min-width: $desktop-version) {
  .social {
    width: 160px;
    padding: 0;
    border: none;
  }
}

  .social__list {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 73px;
    padding-right: 82px;
    padding-top: 21px;
    padding-bottom: 21px;
    border-bottom: 1px solid silver;

  }


  @media (min-width: $tablet-version) {
    .social__list {
      width: 125px;
      padding: 0;
      border: none;
    }
  }

  @media (min-width: $desktop-version) {
    .social__list {
      width: 160px;
      margin: 0;
      padding: 0;

      border: none;
    }
  }

.social__link {
  display: flex;
}

.social__img-vk  path {
  fill: $brownish-grey;
}

@media (min-width: $tablet-version) {
  .social__img-vk {
    width: 30px;
    height: 16px;
  }
}

.social__img-instagram  path {
  fill: $brownish-grey;
}

@media (min-width: $tablet-version) {
  .social__img-instagram {
    width: 23px;
    height: 23px;
  }
}

.social__img-facebook  path {
  fill: $brownish-grey;
}

@media (min-width: $tablet-version) {
  .social__img-facebook {
    width: 14px;
    height: 28px;
  }
}




