.works {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: $tablet-version) {
  .works {
    width: 708px;
    border-bottom: 1px solid $silver;
  }
}

@media (min-width: $desktop-version) {
  .works {
    width: 1220px;
    border: none;
  }
}


.works__title{
  margin: 0;
  margin-top: 21px;
  margin-bottom: 24px;

  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: $black;

}

@media (min-width: $tablet-version) {
  .works__title {
    margin-top: 50px;
    margin-bottom: 60px;

    font-size: 60px;
    line-height: 60px;
  }
}


.works__list {
  width: 280px;
  margin: 0;
  padding: 0;

  list-style: none;

}

@media (min-width: $tablet-version) {
  .works__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 628px;
  }
}

@media (min-width: $desktop-version) {
  .works__list {
    width: 1220px;
    margin-bottom: 42px;

    justify-content: space-between;
  }
}


.works__item {
  position: relative;

  height: 60px;
  display: flex;
  align-items: center;

  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 42px;
  }

}

@media (min-width: $tablet-version) {
  .works__item {
    width: 245px;
    min-height: 228px;

    margin: 0;
  }

  .works__item:first-child {
    margin-bottom: 89px;
  }

  .works__item:last-child {
    margin-bottom: 58px;
  }
}

@media (min-width: $desktop-version) {
  .works__item:first-child,
  .works__item:last-child {
    margin: 0;
  }
}

@media (min-width: $tablet-version) {
  .works__item--substance p {
    width: 201px;
  }
}


@media (min-width: $tablet-version) {
  .works__item--substance::after {
    content: "1";
    position: absolute;
    top: -40px;
    left: 119px;

    width: 71px;
    height: 228px;

    font-size: 281px;
    line-height: 281px;
    color: $silver;
    z-index: -1;
  }
}
@media (min-width: $tablet-version) {
  .works__item--powder::after {
    content: "2";
    position: absolute;
    top: -40px;
    left: 112px;

    width: 114px;
    height: 230px;

    font-size: 281px;
    line-height: 281px;
    color: $silver;
    z-index: -1;
  }
}

@media (min-width: $tablet-version) {
  .works__item--eats::after {
    content: "3";
    position: absolute;
    top: -40px;
    left: 112px;

    width: 114px;
    height: 230px;

    font-size: 281px;
    line-height: 281px;
    color: $silver;
    z-index: -1;
  }
}

@media (min-width: $tablet-version) {
  .works__item--changes::after {
    content: "4";
    position: absolute;
    top: -40px;
    left: 112px;

    width: 114px;
    height: 230px;

    font-size: 281px;
    line-height: 281px;
    color: $silver;
    z-index: -1;
  }
}


@media (min-width: $desktop-version) {
  .works__item {
    width: 245px;

  }
}

.works__description {
  margin: 0;
  margin-left: 80px;

  line-height: 18px;
  font-family: "Arial";
  color: $black-two;

}


@media (min-width: $tablet-version) {
  .works__description {
    padding: 0;
    padding-top: 117px;
    padding-bottom: 48px;

    font-size: 16px;
    line-height: 24px;
  }
}

.works__item::before {
  content: "";

  position: absolute;
  top: 0;

  display: block;
  width: 60px;
  height: 60px;
  margin: 0;

  background-color: $green;
}

@media (min-width: $tablet-version) {
  .works__item::before {
    top: 0;
    left: 0;

    width: 80px;
    height: 80px;
  }
}

.works__img--substance {
  position: absolute;
  top: 5px;
  left: 5px;

  align-items: center;

}

@media (min-width: $tablet-version) {
  .works__img--substance {
    top: 15px;
    left: 15px;
  }
}

.works__img--powder {
  position: absolute;
  top: 5px;
  left: 5px;

  align-items: center;

}

@media (min-width: $tablet-version) {
  .works__img--powder {
    top: 15px;
    left: 15px;
  }
}


.works__img--eats {
  position: absolute;
  top: 5px;
  left: 5px;

  align-items: center;

}

@media (min-width: $tablet-version) {
  .works__img--eats {
    top: 15px;
    left: 15px;
  }
}

.works__img--changes {
  position: absolute;
  top: 5px;
  left: 5px;

  align-items: center;


}

@media (min-width: $tablet-version) {
  .works__img--changes {
    top: 15px;
    left: 15px;
  }
}
