.works {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: $tablet-version) {
  .works {
    width: 708px;
  }
}

@media (min-width: $desktop-version) {
  .works {
    width: 1220px;
  }
}


.works__title{
  margin: 0;
  padding-bottom: 35px;

  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: $black;

}

@media (min-width: $tablet-version) {
  .works__title {
    padding-top: 50px;
    padding-bottom: 64px;

    font-size: 60px;
    line-height: 60px;
  }
}


.works__list {
  width: 280px;
  margin: 0;
  padding: 0;

  list-style: none;

}

@media (min-width: $tablet-version) {
  .works__list {
    display: flex;
    flex-wrap: wrap;

    width: 708px;
  }
}

@media (min-width: $desktop-version) {
  .works__list {
    width: 1220px;

    justify-content: space-between;
  }
}


.works__item {
  position: relative;

  height: 60px;
  display: flex;
  align-items: center;

  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 42px;
  }

}

@media (min-width: $tablet-version) {
  .works__item {
    width: 354px;

    margin: 0;

    &:first-child {
      margin-bottom: 89px;
    }
  }
}


@media (min-width: $desktop-version) {
  .works__item {
    width: 245px;
  }
}

.works__description {
  margin: 0;
  padding-left: 80px;

  line-height: 18px;
  font-family: "Arial";
  color: $black-two;

}

.works__item::before {
  content: "";

  position: absolute;

  display: block;
  width: 60px;
  height: 60px;
  margin: 0;

  background-color: $green;
}

.works__img--substance {
  position: absolute;
  left: 5px;

  align-items: center;

}

.works__img--powder {
  position: absolute;
  left: 5px;

  align-items: center;

}


.works__img--eats {
  position: absolute;
  left: 5px;

  align-items: center;

}

.works__img--changes {
  position: absolute;
  left: 5px;

  align-items: center;


}
