.works {
  width: 87.5%;
  margin: 0 auto;
}

.works__title{
  margin: 0;
  padding-bottom: 35px;

  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;

}


.works__list {
  width: 87.5%;
  margin: 0;
  padding: 0;

  list-style: none;

}

.works__item {
  position: relative;

  height: 60px;
  display: flex;
  align-items: center;

  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 42px;
  }

}


.works__description {
  margin: 0;
  padding-left: 80px;

  line-height: 18px;
  font-family: "Arial";
  color: #444444;

}

.works__item::before {
  content: "";

  position: absolute;

  display: block;
  width: 60px;
  height: 60px;
  margin: 0;

  background-color: #68b738;
}

.works__img--substance {
  position: absolute;
  left: 5px;

  align-items: center;

}

.works__img--powder {
  position: absolute;
  left: 5px;

  align-items: center;

}


.works__img--eats {
  position: absolute;
  left: 5px;

  align-items: center;

}

.works__img--changes {
  position: absolute;
  left: 5px;

  align-items: center;


}
