@font-face {
  font-family: "Oswald";
  src: url("/fonts/oswaldmedium.woff2") format("woff2"),
       url("/fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("/fonts/oswaldregular.woff2") format("woff2"),
       url("/fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;

}



body {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import "page-header.scss";
@import "description.scss";
@import "programs.scss";
@import "works.scss";
@import "page-footer.scss";


