@font-face {
  font-family: "Oswald";
  src: url("/fonts/oswaldmedium.woff2") format("woff2"),
       url("/fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("/fonts/oswaldregular.woff2") format("woff2"),
       url("/fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;

}



body {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import "blocks/page-header.scss";
@import "blocks/site-list.scss";
@import "blocks/description.scss";
@import "blocks/button.scss";
@import "blocks/programs.scss";
@import "blocks/works.scss";
@import "blocks/examle.scss";
@import "blocks/result.scss";
@import "blocks/address.scss";
@import "blocks/map.scss";
@import "blocks/page-footer.scss";
@import "blocks/social.scss";
@import "blocks/copyright.scss";

@import "blocks/page-catalog.scss";
@import "blocks/catalog.scss";
@import "blocks/additionally.scss";
@import "blocks/list-product.scss";



